/*Bootstrap Reset*/

li a {
    text-decoration: none !important;
    color: black;

}

/*Browser Reset*/
main {
    min-height: 100vh;

}

footer {
    margin-top: auto;
}

.form-check-input {
    border: 1px solid
}

/*Custom*/

.card {
    max-width: 250px !important;
}

footer * {
    color: white;
    text-decoration: none !important;
}

.prezzo {
    border-radius: 5px;
    padding: 0px 15px;
}

.prezzo span:first-child {
    font-size: x-large;
    font-weight: bold;
}

.prazzo span:last-child {
    font-size: smaller;
}